h1{
    margin-left: auto;
    margin-right: auto;
}

fieldset{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
}
label{
    width:200px;
    display: inline-block;
}

.champ{
    display: flex;
display: inline;
}