body {
    display: grid;
    grid-template-columns: repeat(7, fr);
    grid-gap: 0.5em;
}

header {
    background-color: #BECAF6;

    grid-column: 1/5;

}

heaer aside {
    background-color: #BECAF6;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: -1;
}

nav {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #BECAF6;
    grid-row-start: 2;
}

article {
    display: flex;
    column-count: 2;
}

section {
    background-color: white;

}

footer {
    grid-column-start: 3;
    grid-column-end: -1;
    grid-row:- 1;
}


main {}