@media qu {
    
}
body {
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows:auto;
    grid-gap: 1em;
    height: 100vh;
    margin: 0px;
}

header {

    grid-column: 1/-1;
    grid-row-start: 1;
    display:grid;
    grid-template-columns:5fr 2fr;
    grid-template-rows: minmax(150px,auto);
    grid-gap: 20px;

}
header>h1 {
    grid-column:1/2 ;
    background-color: #BECAF6;
    grid-row-start: 1;
    grid-row-end:2;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

header>aside {
    grid-column:2/3 ;
    background-color: #BECAF6;
    grid-row-start: 1;
    grid-row-end:2;
    
}

nav {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: #BECAF6;
    
    
}

.principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #BECAF6;
    flex-wrap: wrap;
    height: 100%;
}
.principal>h2{
    width: 100%;
}

section {
    height: 10em;
    width: 40%;
    background-color: white;
    margin: 10px;

}

footer {
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row:4/5;
    background: #BECAF6;
}


main {
    grid-column: 3/-1;
    grid-row: 2/4;

}