body {
    background-color: #BBCDFF;
}

header {
    background-color: white;
    grid-template-columns: ;
}

nav {
    background-color: white;

}

article {

}

section {
    background-color: white;

}

footer {
    background-color: white;

}
aside{
    background-color: white;

}