body {
    font-family: Arial, Helvetica, sans-serif;
}

header>h1 {
    background-color: #e64b3c;
    color: white;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    margin:0 5px 30px 5px;
}

main {
    column-count: 3;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.chat {

    width: 25%;


}

h2 {
    color: #e64b3c;
}

img {
    max-width: 22em;
}

.chat p {
    display: block;
    width: 100%;
}